<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
   <!-- DAO -->
   <bean id="poissonDAO" class="com.javaquarium.dao.PoissonDAO" singleton="true"/>
 
  
   <!-- Services -->
   <bean id="poissonService" class ="com.javaquarium.business.PoissonService" singleton="true">
       <property name="poissonDAO"> <ref bean="poissonDAO"/></property>
   </bean>
   <!-- Actions -->
   <bean name="/ajouterNouveauPoisson" class="com.javaquarium.action.AjoutAction" singleton="true">
       <property name="poissonService"> <ref bean="poissonService"/></property>
   </bean>

   <bean name="/listerEspece" class="com.javaquarium.action.ListerEspeceAction" singleton="true">
       <property name="poissonService"> <ref bean="poissonService"/></property>
   </bean>
  
  <bean name="/pageLogin" class="com.javaquarium.action.LoginAction" singleton="true"></bean>
  <bean name="/removeEspece" class="com.javaquarium.action.RemoveAction" singleton="true">
       <property name="poissonService"> <ref bean="poissonService"/></property>
   </bean>

</beans>



